<footer id="Footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pad30TB">
                <h6 class="pad10B">
                    <i class="fa fa-minus icolor"></i>فعالیت های سورس کلوپ
                </h6>
                <p>این سایت یک دانلودسنتر برای منابع طراحی، گرافیک و آموزش می‌باشد که کلیه فایل‌ها را بدون تبلیغات
                    آزاردهنده و بروزسانی همیشگی در دسترس علاقمندان قرار می دهد </p>
                <br />
                <p>ایمیل پشتیبانی : Info@Sourceclub.com</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pad30TB">
                <h6 class="pad10B">
                    <i class="fa fa-minus icolor"></i>پرفروش ترین ها
                </h6>
                <ul>
                    <li>
                        <a href="#">
                            » دانلود طرح لایه باز ست اداری GraphicRiver
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            » دانلود مجموعه وکتور کودکانه VECTORS - CARTOON PUPILS SET
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            » دانلود افزونه وردپرس چت WP Flat Visual Chat نسخه 5.381
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            » دانلود مجموعه وکتور کودکانه VECTORS - CARTOON PUPILS SET
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pad30TB">
                <h6 class="pad10B">
                    <i class="fa fa-minus icolor"></i>محبوب ترین های وبلاگ
                </h6>
                <ul>
                    <li>
                        <a href="#">» نقدوبررسی اکشن‌لانچر؛ لانچری برای همه‌ی سلیقه‌ها</a>
                    </li>
                    <li>
                        <a href="#">» رمزنگاری امن در پنل مدیریت </a>
                    </li>
                    <li>
                        <a href="#">» تلویزیون‌های QLED سامسونگ به‌زودی وارد ایران می‌شوند </a>
                    </li>

                    <li>
                        <a href="#">» فضای مجازی و مزایا و مضرات آن</a>
                    </li>
                    <li>
                        <a href="#">» برترین سایت های ارائه دهنده قالب و گرافیک را بشناسید</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pad30TB">
                <h6 class="pad10B">
                    <i class="fa fa-minus icolor"></i>دستـرسی سریع
                </h6>
                <ul>
                    <li>
                        <a href="Index.html">» صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="Guide.html">» راهنمای استفاده</a>
                    </li>
                    <li>
                        <a href="Privacy.html">» حریم خصوصی</a>
                    </li>
                    <li>
                        <a href="AboutUs.html">» درباره ما</a>
                    </li>
                    <li>
                        <a href="ContactUs.html">» ارتـباط با ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>